requests==2.32.3
beautifulsoup4==4.12.3
pandas==2.3.3
numpy==2.5.3
sqlite-utils==3.38
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.2
joblib==1.4.2
imbalanced-learn==0.12.4
sentence-transformers==3.2.1
chromadb==0.5.23
langgraph==0.2.61
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
groq==0.11.0
python-dotenv==1.0.1
